.bike-card {
  text-align: center;
}
.bike-card button {
  margin: 0;
}
.bike-card-favorite-button {
  font-size: 2rem;
  margin-bottom: 5px;
  color: grey;
  cursor: pointer;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}
.bike-card-favorite-button:hover {
  color: black;
}
.bike-card-favorite-button-active {
  color: rgba(254, 9, 9, 0.8);
}
.bike-card-favorite-button-active:hover {
  color: rgba(163, 1, 1, 0.8);
}

.bike-text {
  padding: 8px 0;
  text-transform: uppercase;
  text-align: center;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.read-more-btn {
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  cursor: pointer;
  color: grey;
}

.read-more-btn:hover {
  background-color: #b2afaf;
  color: white;
}