.home-container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  position: relative;
}

.welcome-banner {
  background-color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  z-index: 100;
  text-align: center;
}

.home-slogan {
  margin: 30px auto 50px;
  background-color: hsla(0deg, 0%, 93.3%, 0.5);
  padding: 1.5em;
}

.home-shop-btn {
  background-color: #84a98c;
  padding: 15px;
  border-radius: 8px;
}

.home-container a {
  color: white;
  text-decoration: none;
}

.search {
  width: 300px;
  margin: 2vh auto;
  border-radius: 8px;
  position: relative;
  height: 20px;
}
.search-input {
  background-color: rgb(205, 205, 205);
  position: absolute;
  border-radius: 8px;
  z-index: 100;
  top: 28px;
}
.search h5 {
  color: black;
  border-bottom: 1px solid black;
  text-transform: uppercase;
}
.search h5:hover {
  color: white;
}
.search a {
  text-decoration: none;
}

.email-signup-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.244);
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 10000000;
  top: 0;
}

.email-signup {
  background-color: #84a98c;
  background-color: #84a98c;
  width: 80%;
  min-height: 500px;
  padding: 2em 5em;
  text-align: center;
  position: absolute;
  top: 10vh;
  -webkit-box-shadow: -5px 5px 10px black;
          box-shadow: -5px 5px 10px black;
  z-index: 10000;
  max-width: 600px;
}
.email-signup h2 {
  color: rgb(116, 99, 76);
  text-transform: uppercase;
  font-size: 3em;
}
.email-signup p {
  font-size: 1.5rem;
}
.email-signup .input-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.email-signup .input-row input {
  width: 80%;
}
.email-signup button {
  background-color: #2f3e46;
  border: none;
  margin-top: 5px;
}
.email-signup button:hover {
  background-color: #354f52;
}
.email-signup button:active {
  background-color: brown !important;
}
.email-signup .close-email-signup {
  font-size: 1.25rem;
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}
.email-signup .close-email-signup:hover {
  text-decoration: underline;
}
.email-signup .close-button {
  position: absolute;
  top: 1em;
  right: 1em;
  color: rgb(116, 99, 76);
  font-size: 1.25rem;
  cursor: pointer;
  -webkit-transition: 50ms ease-in-out;
  transition: 50ms ease-in-out;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
.email-signup .close-button:hover {
  color: black;
}