/*  rgba(0, 149, 255, 0.8); */

.bike-card {
  cursor: pointer;
}

.bike-text {
  padding: 8px 0;
  text-transform: uppercase;
  text-align: center;
  max-width: fit-content;
}
.bike-image {
  max-height: 289px;
}
.read-more-btn {
  transition: all 150ms ease-in-out;
}
.read-more-btn:hover {
  background-color: #b2afaf;
  color: #f5f5f5;
}

