$tea-green: rgba(204, 213, 174, 1);
$beige: rgba(233, 237, 201, 1);
$cornsilk: rgba(254, 250, 224, 1);
$papaya-whip: rgba(250, 237, 205, 1);
$buff: rgba(212, 163, 115, 1);

.footer-container {
  background-color: $tea-green;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.footer-container a {
  text-decoration: none;
  color: black;
  transition: 150ms ease-in-out;
}

.footer-container a:hover {
  color: $buff;
  text-decoration: underline;
}

.copyright-container {
  padding-left: 40px;
}

.copyright-container a:not(:first-child) {
  padding: 0 20px;
}

.copyright-container a:first-child {
  padding: 0 20px 0 0;
}

@media screen and (min-width: 992px) {
  .copyright-container {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

.locations-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.locations {
  display: flex;
  flex-direction: column;
}

.locations-title {
  text-align: center;
}

@media screen and (min-width: 992px) {
  .locations-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .locations {
    flex-direction: row;
  }

  .locations a {
    padding: 20px;
  }
}

.newsletter {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 250px;


  p:first-of-type {
    font-size: 2em;
  }

  p:not(first-of-type) {
    font-weight: 800;
    font-size: 1.25em;
  }

  input {
    width: 80%;
    padding: 0.5em 2em;
    border-radius: 1px;
    margin-right: 0.75rem;
    border: 1px solid black;

    height: 40px;

    &:focus {
      outline-color: black;
    }
  }

  button {
    height: 40px;
    padding: 0.375em;
    border-radius: 1px;
    border: 1px solid $buff;
    background-color: $buff;
    color: white;
    transition: 150ms ease-in-out;
    letter-spacing: 1px;
    text-transform: uppercase;

    &:hover {
      background-color: white;
      color: $buff;
    }

  }

  &-success {
    width: max-content;
    margin: 0 auto;
    text-align: center;
    transition: 150ms ease-in;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 250px;

    p {
      font-size: 3em;
    }



    .thumbs-up {
      font-size: 5em;
      animation: newsletter-animation 1.6s ease-in-out;

    }


  }
}

@keyframes newsletter-animation {
  0% {
    opacity: 0;
    scale: 0;

  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contact-img {
  padding: 0.5em;
  margin: 0 5px;
  font-size: 30px;
}

.contact-logos {
  display: flex;
  flex-direction: row;
}