.footer-container {
  background-color: #cad2c5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px;
}

.footer-container a {
  text-decoration: none;
  color: black;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}

.footer-container a:hover {
  color: brown;
  text-decoration: underline;
}

.copyright-container {
  padding-left: 40px;
}

.copyright-container a:not(:first-child) {
  padding: 0 20px;
}

.copyright-container a:first-child {
  padding: 0 20px 0 0;
}

@media screen and (min-width: 992px) {
  .copyright-container {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.locations-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.locations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.locations-title {
  text-align: center;
}

@media screen and (min-width: 992px) {
  .locations-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .locations {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .locations a {
    padding: 20px;
  }
}
.newsletter {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.newsletter p:first-of-type {
  font-size: 2em;
}
.newsletter p:not(first-of-type) {
  font-weight: 800;
  font-size: 1.25em;
}
.newsletter input {
  width: 80%;
  padding: 0.5em 2em;
  border-radius: 8px;
  margin-bottom: 0.75rem;
}
.newsletter button {
  width: 40%;
  padding: 0.375em 0;
  border-radius: 8px;
  background-color: blanchedalmond;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}
.newsletter button:hover {
  background-color: burlywood;
}
.newsletter-success {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  text-align: center;
  -webkit-transition: 150ms ease-in;
  transition: 150ms ease-in;
}
.newsletter-success p {
  font-size: 3em;
}
.newsletter-success .thumbs-up {
  font-size: 5em;
}