$ash-gray: #cad2c5ff;
$dark-sea-green: #84a98cff;
$hookers-green: #52796fff;
$dark-slate-gray: #354f52ff;
$charcoal: #2f3e46ff;

.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  position: relative;
}

.welcome-banner {
  background-color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  z-index: 100;
  text-align: center;
}

.home-slogan {
  margin: 30px auto 50px;
  background-color: hsla(0, 0%, 93.3%, 0.5);
  padding: 1.5em;
}

.home-shop-btn {
  background-color: $dark-sea-green;
  padding: 15px;
  border-radius: 8px;
}

.home-container a {
  color: white;
  text-decoration: none;
}



.search {
  width: 300px;
  margin: 2vh auto;
  border-radius: 8px;
  position: relative;
  height: 20px;

  &-input {
    background-color: $dark-slate-gray;
    position: absolute;
    border-radius: 8px;
    z-index: 100;
    top: 28px;
  }

  h5 {
    color: $dark-sea-green;
    border-bottom: 1px solid $dark-sea-green;
    text-transform: uppercase;

    &:hover {
      color: white;
    }
  }

  a {
    text-decoration: none;
  }
}

.email-signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.244);
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 10000000;
  top: 0;
}

.email-signup {
  background-color: $dark-sea-green;
  background-color: #84a98c;
  width: 80%;
  min-height: 500px;
  padding: 2em 5em;
  text-align: center;
  position: absolute;
  top: 10vh;
  box-shadow: -5px 5px 10px black;
  z-index: 10000;
  max-width: 600px;

  h2 {
    color: rgb(116, 99, 76);
    text-transform: uppercase;
    font-size: 3em;
  }

  input {
    width: 80%;
  }

  p {
    font-size: 1.5rem;
  }

  button {
    background-color: $charcoal;
    border: none;
    width: 20%;

    &:hover {
      background-color: $dark-slate-gray;
    }

    &:active {
      background-color: brown !important;
    }
  }

  .close-email-signup {
    font-size: 1.25rem;
    cursor: pointer;
    width: max-content;
    margin: 0 auto;

    &:hover {
      text-decoration: underline;
    }
  }

  .close-button {
    position: absolute;
    top: 1em;
    right: 1em;
    color: rgb(116, 99, 76);
    font-size: 1.25rem;
    cursor: pointer;
    transition: 50ms ease-in-out;
    width: min-content;

    &:hover {
      color: black;
    }
  }
}