$ash-gray: #cad2c5;
$dark-sea-green: #84a98c;
$hookers-green: #52796f;
$dark-slate-gray: #354f52;
$charcoal: #2f3e46;


.landing-slider-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 600px;
  height: 80vh;
  background-color: #ad8690;
}

.landing-slider {
  position: relative;
  width: 95%;
  height: 98%;
  max-width: 1000px;



  &-slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

  }

  &-slogan {
    color: $charcoal;
    background-color: $ash-gray;
    opacity: 0.8;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
  }

  &-shop {
    background-color: $dark-sea-green;
    color: white;
    text-decoration: none;
    transition: all 250ms ease-in-out;

    &:hover {
      background-color: $hookers-green;
      color: white;
    }


  }

  &-btn {
    position: absolute;
    top: 40%;
    font-size: 2em;
    height: 3em;
    font-variant: small-caps;
    color: white;
    cursor: pointer;
    opacity: 0.6;
    transition: 150ms ease-in-out;

    &:hover {
      opacity: 0.9;
    }
  }

  .slider-left {
    left: 5%;
  }

  .slider-right {
    right: 5%;
  }

  &-dots {
    position: relative;
    top: -13%;
    width: 20%;
    padding: 0;
    justify-content: space-around;
    margin: 0 auto;
    background-color: #d0c1b9db;
    border-radius: 10px;

    h1 {
      color: white;
      cursor: pointer;
      opacity: 0.8;
      padding: 0;

      &:hover {
        transform: scale(1.08);
        opacity: 1;
      }
    }
  }

}