.locations-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.locations {
  display: flex;
  flex-direction: column;
}
.locations-title {
  text-align: center;
}
@media screen and (min-width: 992px) {
  .locations-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .locations {
    flex-direction: row;
  }
  .locations a {
    padding: 20px;
  }
}
