@font-face {
  font-family: 'Oswald';
  src: url("../src/fonts/Oswald/static/Oswald-Regular.ttf");
}
.container-main {
  padding: 0;
  margin: 0;
}
hr {
  background-color: rgb(147, 147, 152);
  height: 1px;
  width: 90%;
  margin: 20px 0;
  align-self: center;
  justify-self: center;
}
* {
  animation: 0.2s ease;
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}
.text-center {
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 20px 0;
}
@media screen and (min-width: 768px) {
  .md {
    display: flex;
  }
  .sm {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .md {
    display: none;
  }
  .sm {
    display: flex;
  }
}
.login-container {
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.h-100vh {
  height: 100vh;
}